<p style="color: green"><%= notice %></p>

<% content_for :title, "Virtual users" %>

<div class="col-12">
  <hr class="mt-0 mb-2" />
  <%= link_to new_virtual_user_path, class: 'btn btn-primary btn-sm' do %>
    <i class="bi bi-person-plus-fill"></i>
    新建虚拟用户
  <% end %>
  <button onclick="window.history.back()" class="btn btn-secondary btn-sm">
    <i class="bi bi-arrow-left"></i>
    返回上一页
  </button>
  <hr class="mt-2 mb-0" />
</div>

<div class="col-12 mt-3">
  <h6 class="text-secondary mb-3">虚拟用户一览</h6>
  <div class="row g-0">
    <div class="col-auto mb-3">
      <%= form_tag virtual_users_path, method: 'get' do %>
        <div class="input-group">
          <%= text_field_tag 'keywords', params[:keywords], id: 'search_keywords', class: 'form-control form-control-sm', placeholder: '关键字搜索' %>
          <%= text_field_tag 'mobile', params[:mobile], id: 'search_mobile', class: 'form-control form-control-sm', placeholder: '手机号查询' %>
          <div class="input-group-text bg-transparent">
            <%= submit_tag '查询', style: 'border: none; background-color: transparent;' %>
          </div>
          <div class="input-group-text bg-transparent">
            <%= button_tag '清空', type: 'button', style: 'border: none; background-color: transparent;', onclick: 'clearSearch()' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="col-12">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">姓名</th>
        <th scope="col">性别</th>
        <th scope="col">生日</th>
        <th class="text-end" scope="col">操作</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <%= render @virtual_users %>
    </tbody>
  </table>
  <%= paginate @virtual_users%>
</div>
<%# 将搜索栏条件全部清除 %>
<script>
  function clearSearch() {
    document.getElementById('search_keywords').value = ''
    document.getElementById('search_mobile').value = ''
  }
</script>