<div id="<%= dom_id auto_register_record %>">
  <p>
    <strong>Company:</strong>
    <%= auto_register_record.company_id %>
  </p>

  <p>
    <strong>Virtual user:</strong>
    <%= auto_register_record.virtual_user_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= auto_register_record.address_id %>
  </p>

  <p>
    <strong>State:</strong>
    <%= auto_register_record.state %>
  </p>

  <p>
    <strong>Error message:</strong>
    <%= auto_register_record.error_message %>
  </p>

  <p>
    <strong>Properties:</strong>
    <%= auto_register_record.properties %>
  </p>

</div>
