<%= form_with(url: plan_records_path(plan_id: record.plan_id), method: :post, scope: :record) do |form| %>
  <% if record.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
        <% record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3 mt-3">
    <%= form.label '账号', class: "form-label" %>
    <%= form.select :account_id, account_for_select, {},  { class: "form-control" } %>
  </div>

  <div class="d-grid gap-2">
    <%= form.submit '创建', class: 'btn btn-primary' %>
  </div>
<% end %>
