<%= form_with(model: record) do |form| %>
  <% if record.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
        <% record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :plan_id, style: "display: block" %>
    <%= form.text_field :plan_id %>
  </div>

  <div>
    <%= form.label :virtual_user_id, style: "display: block" %>
    <%= form.text_field :virtual_user_id %>
  </div>

  <div>
    <%= form.label :order_no, style: "display: block" %>
    <%= form.text_field :order_no %>
  </div>

  <div>
    <%= form.label :failed_step, style: "display: block" %>
    <%= form.text_field :failed_step %>
  </div>

  <div>
    <%= form.label :error_message, style: "display: block" %>
    <%= form.text_field :error_message %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
