<div id="<%= dom_id record %>">
  <p>
    <strong>Plan:</strong>
    <%= record.plan_id %>
  </p>

  <p>
    <strong>Virtual user:</strong>
    <%= record.virtual_user_id %>
  </p>

  <p>
    <strong>Order no:</strong>
    <%= record.order_no %>
  </p>

  <p>
    <strong>Failed step:</strong>
    <%= record.failed_step %>
  </p>

  <p>
    <strong>Error message:</strong>
    <%= record.error_message %>
  </p>

</div>
