<%= form_with(model: plan) do |form| %>
  <% if plan.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
        <% plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3 mt-3">
    <%= form.label '链接', class: "form-label" %>
    <%= form.text_field :link, class: "form-control" %>
  </div>

  <div class="mb-3 mt-3">
    <%= form.label '抢购数量', class: "form-label" %>
    <%= form.number_field :quantity, class: "form-control" %>
  </div>

  <div class="mb-3 mt-3">
    <%= form.label '批次数量', class: "form-label" %>
    <%= form.number_field :batch_size, class: "form-control" %>
  </div>

  <div class="mb-3 mt-3">
    <%= form.label '执行时间(yyyy-mm-dd hh:mm:ss)', class: "form-label" %>
    <%= form.text_field :execute_time, class: "form-control" %>
  </div>

  <div class="d-grid gap-2">
    <%= form.submit '创建', class: 'btn btn-primary' %>
  </div>
<% end %> 