<div id="<%= dom_id plan %>">
  <p>
    <strong>Link:</strong>
    <%= plan.link %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= plan.quantity %>
  </p>

  <p>
    <strong>Batch size:</strong>
    <%= plan.batch_size %>
  </p>

  <p>
    <strong>Execute time:</strong>
    <%= plan.execute_time %>
  </p>

</div>
