
<tr id="<%= dom_id plan %>">
  <td><%= plan.id %></td>
  <td><%= plan.link %></td>
  <td><%= plan.product_name %></td>
  <td><%= plan.quantity %></td>
  <td><%= plan.batch_size %></td>
  <td><%= plan.execute_time&.strftime("%Y-%m-%d %H:%M:%S") %></td>
</tr>   
