<%= form_with(model: account) do |form| %>
  <% if account.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3 mt-3">
    <%= form.label '账号', class: "form-label" %>
    <%= form.select :account_no, email_for_select, {}, { class: "form-select" } %>
  </div>

  <div class="mb-3 mt-3">
    <%= form.label '公司', class: "form-label" %>
    <%= form.select :company_id, company_for_select, {}, { class: "form-select" } %>
  </div>

  <div class="mb-3 mt-3">
    <%= form.label '虚拟用户', class: "form-label" %>
    <%= form.select :user_id, virtual_user_for_select, {}, { class: "form-select" } %>
  </div>

  <div class="mb-3 mt-3">
    <%= form.label '地址', class: "form-label" %>
    <%= form.text_field :address_id, class: "form-control" %>
  </div>

  <div class="mb-3 mt-3">
    <%= form.label '支付方式', style: "display: block" %>
    <%= form.text_field :payment_id, class: "form-control" %>
  </div>

  <div class="mb-3 mt-3">
    <%= form.label '登陆密码', style: "display: block" %>
    <%= form.text_field :password, class: "form-control" %>
  </div>

  <div class="d-grid gap-2">
    <%= form.submit account.new_record? ? '创建' : '更新', class: 'btn btn-primary' %>
  </div>
<% end %>
